@import "tailwindcss";

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Figtree", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #2e5252;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply text-sm md:text-base lg:text-lg;
}

a {
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply text-sm md:text-base lg:text-lg;
}

span {
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply text-sm md:text-base lg:text-lg;
}

p,
button,
label,
input,
select {
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply text-sm md:text-base lg:text-lg;
}

h1 {
  color: var(--foreground);
  font-family: var(--font-playfair);
  @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

h2 {
  color: var(--foreground);
  font-family: var(--font-serif);
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
}

h3 {
  color: var(--foreground);
  font-family: var(--font-serif);
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
}

h4 {
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

h5 {
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply text-base md:text-lg lg:text-xl xl:text-2xl;
}

h6 {
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply text-sm md:text-base lg:text-lg xl:text-xl;
}
